<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<main class="container">
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30 px">
        {% if user.is_authenticated %}
        <p>You have successfully login</p>
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <ul>
            <li>
                <a href="{% url 'authors:add' %}" role="button">Add new author</a>
            </li>
            <li>
                <a href="{% url 'quote:add_quote' %}" role="button">Add new quote</a>
            </li>
            <li><a href="{% url 'authors:details' %}" role="button">Look the list of authors</a></li>
            <li>
                <a href="{% url 'quote:quote_list' %}" role="button">View all quotes</a>
            </li>
        </ul>
        {% else %}
        <p>Welcome, new user. Please log in or sign up</p>
        <ul>
            <li><a href="{% url 'accounts:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'accounts:login' %}" role="button">Log In</a></li>
            <li><a href="{% url 'authors:details' %}" role="button">Look the list of authors</a></li>
            <li>
                <a href="{% url 'quote:quote_list' %}" role="button">View all quotes</a>
            </li>
        </ul>
        {% endif %}
    </nav>
</main>
</body>
</html>