{% extends 'main/base.html' %} {% load tags_extras %}

{% block content %}


{% for quote in page_obj %}

<div style="border: 1px solid black; padding: 10px; margin: 20px; border-radius: 5px; border-width: 3px;">
    <p><i>"{{ quote.quote}}"</i></p>
    <p>by {{ quote.author }} (<a href="{% url 'authors:authorPage' quote.author.id %}">about</a>)</p>
    <p>Tags: {{ quote.tags|load_tags }}</p>
</div>
{% empty %}
<form method="post" action="{% url 'quote:fill_database' %}">
    {% csrf_token %}
    <input type="submit" value="Fill Database">
</form>
{% endfor %}
<div>
    <h1>Top Ten Tags </h1>
    {% for tag in top_tags %}
    <ul>
        <li>{{ tag.name }}</li>
    </ul>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" role="button">&larr; Previous</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" role="button">Next &rarr; </a>
        {% endif %}
    </span>
</div>
{% endblock %}